<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DlibDotNet" version="19.18.0.20200429" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.55" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.1.0.55" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.1.0.55" targetFramework="net461" />
</packages>